/* about webpage */
/* website background */
body {
	background: url(../images/wood-background.png);
}

/* navigation bar */
.menu {
	background: url(../images/carbon-fiber.png);
	font-size: 20px;
}

.menu a {
	color: white;
}

.sub-menu a {
	color: white;
}

.menu li {
	display: inline-block;
	padding: 5px 20px;
	position: relative;
}

.menu li:hover{
	background-color: #383838;
}

ul.sub-menu {
	position: absolute;
	background-color: #383838;
	width: 150px;
	margin-left: 189px;
}

.sub-menu {
	opacity: 0;
}

ul:hover .sub-menu {
	opacity: 1;
}

.sub-menu li:hover {
	background-color: #5E5D5D;
}

/* Name and Headshot */
.name {
	height: 20px;
	padding: 25px;
	color: white;
}

{
	text-align: center;
	font-size: 60px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 600;
}

.headshot {
	margin-left: 575px;
	padding-bottom: 30px;	
}

/* bio section */
.bio {
	text-align: center;
	padding-bottom: 15px;
	color: white;
}

.bio h2{
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.bio p{
	width: 350px;
	margin-left: 540px;
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
}

/* contact links */
.contact-links{
	padding: 10px;
	margin-left: 545px;
}

.contact-links a{
	padding: 15px;
}

/* portfolio webpage */

div {
	color: white;
	text-align: left;
	font-size: 30px;
}

h2 {
	text-align: center;
}

/* Experience */
.title {
	text-align: center;
}

.experience {
	margin-left: 500px;
}

.experience h2 {
	text-align: center;
	padding: 15px;
	margin-right: 500px;
	font-family: 'Exo 2', sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-decoration: underline;
}

.experience p {
	padding: 15px;
	min-width: 150px;
	max-width: 400px;
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
}

/* Relevant Experience */
.experience .deliverable {
	margin-left: -75px;
}
/* Education */
